/* Your custom css code goes here */
.btn-turbosquid {
    padding: 0px 230px 45px;
    margin: 60px 0px 60px 0px;
    background: url("/img/elements/turbosquid_banner.png") round no-repeat;
}

.btn.btn-dark {
    border: 1px solid #c0dbcc62;
    background: #277527;
    color: #ffffff;
    font-size: 20px;
  }
  
  .btn.btn-dark:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    background: #115c17;
    color: #ffffff;
    border: 1px solid rgba(132, 156, 118, 0.953);
    font-size: 21px;
  }
  
  .btn.btn-dark:focus, .btn.btn-primary:active {
    outline: none;
    border: 0px solid #000000;
  }

  .slides-text_custom {
    z-index: 99;
    position: relative;
    padding-top: 350px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .slides-text_custom h2 {
    font-weight: 100;
    font-weight: bold;
    font-size: 55px;
    color: #ffffff;
    text-shadow: rgb(48, 48, 48) 0px 0px 10px;
    text-transform: uppercase;
  }

  .slides-text_custom p {
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    text-transform: uppercase;
  }

  .slides-text_custom:hover h2, .slides-text_custom:focus h2, .slides-text_custom:active h2{
    font-weight: 100;
    font-weight: bold;
    font-size: 55px;
    color: #ffffff;
    text-shadow: rgba(255, 255, 255, 0.075) 0px 0px 10px;
    text-transform: uppercase;
  }

  body {
    height: 2000px; /* Adjust the height as per your needs */
    position: relative;
}

.fly-in {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fly-in.fly-in-active {
    opacity: 1;
}

.lorem-div {
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.scroll-indicator {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.scroll-indicator span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #817878;
    margin-bottom: 8px;
}

.scroll-indicator.down {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.scroll-indicator.up {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.show-scroll-indicator {
    opacity: 1;
}

@keyframes flyInAnimation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flyOutAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(0);
        opacity: 0.5;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

.fly-out-active {
    animation: flyOutAnimation 1.5s ease-in-out forwards;
}